.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.yesContainer{
  width: 100%;
  background: linear-gradient(-45deg, #ABE098, #57C84D, #2EB62C);
  background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

.noContainer{
  width: 100%;
  background: linear-gradient(-45deg, #F1959B, #EA4C46, #DC1C13);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

.noneContainer{
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #B3E2EB, #7AC6DC, #5FB9D5);
	background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.descritionLeft{
  text-align: left;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-right:10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.animatedGif{
  width: 500px;
  height: auto;
}

.btn {
  background: #abe4f8;
  background: linear-gradient(#abe4f8, #74d0f4);
  border: solid 1px #8cc5d9;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #cdeffb;
  color: #000000;
  font-weight: bold;
  text-shadow: 0 1px 0 #b6e6f9;
  width: 200px;
  height: 30px;
}

  
.btn:hover {
  background: #80d4f5;
  background: linear-gradient(#80d4f5, #92dbf6);
  border: solid 1px #79acbe;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #b2e6f8; }

  .btn:active {
  background: #89d2ee;
  background: linear-gradient(#89d2ee, #84cae6);
  border: solid 1px #5c8d9f;
  box-shadow: inset 0 10px 15px 0 #79b9d2; }